p {
    text-align: center;
}

.main {
    width: 20%;
    align-self: center;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

button {
    width: 30%;
    align-self: center;
}